<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kanjia.mapper.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.kanjia.pojo.Activity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="picture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="video" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="adress" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="origin_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="minu_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="activity_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="enterprise_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="limit_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sold_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="consume_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="consume_end_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cut_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pick" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kanjia.pojo.Activity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="picture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="video" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="adress" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="origin_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="minu_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="activity_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="enterprise_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="limit_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sold_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="consume_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="consume_end_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cut_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pick" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="description" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, picture, video, adress, origin_price, minu_price, activity_time, enterprise_id, 
    limit_number, sold_number, consume_time, consume_end_time, cut_time, state, create_time, 
    update_time, category_id, longitude, latitude, pick
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kanjia.pojo.Activity" useGeneratedKeys="true" keyProperty="id">
    insert into activity (id, title, picture, 
      video, adress, origin_price, 
      minu_price, activity_time, enterprise_id, 
      limit_number, sold_number, consume_time, 
      consume_end_time, cut_time, state, 
      create_time, update_time, category_id, 
      longitude, latitude, pick, 
      description)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{video,jdbcType=VARCHAR}, #{adress,jdbcType=VARCHAR}, #{originPrice,jdbcType=DECIMAL}, 
      #{minuPrice,jdbcType=DECIMAL}, #{activityTime,jdbcType=TIMESTAMP}, #{enterpriseId,jdbcType=INTEGER}, 
      #{limitNumber,jdbcType=INTEGER}, #{soldNumber,jdbcType=INTEGER}, #{consumeTime,jdbcType=TIMESTAMP}, 
      #{consumeEndTime,jdbcType=TIMESTAMP}, #{cutTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{categoryId,jdbcType=INTEGER}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{pick,jdbcType=INTEGER}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kanjia.pojo.Activity" useGeneratedKeys="true" keyProperty="id">
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="video != null" >
        video,
      </if>
      <if test="adress != null" >
        adress,
      </if>
      <if test="originPrice != null" >
        origin_price,
      </if>
      <if test="minuPrice != null" >
        minu_price,
      </if>
      <if test="activityTime != null" >
        activity_time,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="limitNumber != null" >
        limit_number,
      </if>
      <if test="soldNumber != null" >
        sold_number,
      </if>
      <if test="consumeTime != null" >
        consume_time,
      </if>
      <if test="consumeEndTime != null" >
        consume_end_time,
      </if>
      <if test="cutTime != null" >
        cut_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="pick != null" >
        pick,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null" >
        #{originPrice,jdbcType=DECIMAL},
      </if>
      <if test="minuPrice != null" >
        #{minuPrice,jdbcType=DECIMAL},
      </if>
      <if test="activityTime != null" >
        #{activityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="limitNumber != null" >
        #{limitNumber,jdbcType=INTEGER},
      </if>
      <if test="soldNumber != null" >
        #{soldNumber,jdbcType=INTEGER},
      </if>
      <if test="consumeTime != null" >
        #{consumeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeEndTime != null" >
        #{consumeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cutTime != null" >
        #{cutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="pick != null" >
        #{pick,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kanjia.pojo.Activity" >
    update activity
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        adress = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null" >
        origin_price = #{originPrice,jdbcType=DECIMAL},
      </if>
      <if test="minuPrice != null" >
        minu_price = #{minuPrice,jdbcType=DECIMAL},
      </if>
      <if test="activityTime != null" >
        activity_time = #{activityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="limitNumber != null" >
        limit_number = #{limitNumber,jdbcType=INTEGER},
      </if>
      <if test="soldNumber != null" >
        sold_number = #{soldNumber,jdbcType=INTEGER},
      </if>
      <if test="consumeTime != null" >
        consume_time = #{consumeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeEndTime != null" >
        consume_end_time = #{consumeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cutTime != null" >
        cut_time = #{cutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="pick != null" >
        pick = #{pick,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kanjia.pojo.Activity" >
    update activity
    set title = #{title,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      adress = #{adress,jdbcType=VARCHAR},
      origin_price = #{originPrice,jdbcType=DECIMAL},
      minu_price = #{minuPrice,jdbcType=DECIMAL},
      activity_time = #{activityTime,jdbcType=TIMESTAMP},
      enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      limit_number = #{limitNumber,jdbcType=INTEGER},
      sold_number = #{soldNumber,jdbcType=INTEGER},
      consume_time = #{consumeTime,jdbcType=TIMESTAMP},
      consume_end_time = #{consumeEndTime,jdbcType=TIMESTAMP},
      cut_time = #{cutTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      category_id = #{categoryId,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      pick = #{pick,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kanjia.pojo.Activity" >
    update activity
    set title = #{title,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      adress = #{adress,jdbcType=VARCHAR},
      origin_price = #{originPrice,jdbcType=DECIMAL},
      minu_price = #{minuPrice,jdbcType=DECIMAL},
      activity_time = #{activityTime,jdbcType=TIMESTAMP},
      enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      limit_number = #{limitNumber,jdbcType=INTEGER},
      sold_number = #{soldNumber,jdbcType=INTEGER},
      consume_time = #{consumeTime,jdbcType=TIMESTAMP},
      consume_end_time = #{consumeEndTime,jdbcType=TIMESTAMP},
      cut_time = #{cutTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      category_id = #{categoryId,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      pick = #{pick,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--&lt;!&ndash; 查詢活动 &ndash;&gt;-->
  <!--<select id="getAllActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
    <!--select a.id,a.title,a.picture,a.adress,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
    <!--activityTime,e.enterprise_name as enterpriseName,-->
    <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and a.limit_number != a.sold_number-->
    <!--<if test="start != null and pageSize!=null">-->
      <!--limit #{start},#{pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;获取活动数量&ndash;&gt;-->
  <!--<select id="getAllActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and a.limit_number != a.sold_number-->

  <!--</select>-->

    <!-- 查詢活动 -->
    <select id="getAllActivity" resultType="com.kanjia.vo.PageActivityVo">
        select a.id,a.title,a.picture,a.adress,a.origin_price,a.pick,a.activity_time as
        activityTime,e.enterprise_name as enterpriseName,
        a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime
        from activity a left join enterprise e on a.enterprise_id = e.id
        where 1=1
        and a.state=1
        and a.activity_time >now()
        and a.limit_number != a.sold_number
        <if test="start != null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>
    <!--获取活动数量-->
    <select id="getAllActivityCount" resultType="Integer">
    select count(1)
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.state=1
    and a.activity_time >now()
    and a.limit_number != a.sold_number

  </select>


  <!--&lt;!&ndash;获取其他活动&ndash;&gt;-->
  <!--<select id="getQitaActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
    <!--select a.id,a.title,a.picture,a.adress,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
    <!--activityTime,e.enterprise_name as enterpriseName,-->
    <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.category_id>3-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and aa.limit_number != a.sold_number-->
    <!--<if test="start != null and pageSize!=null">-->
      <!--limit #{start},#{pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;获取其他活动数量&ndash;&gt;-->
  <!--<select id="getQitaActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.category_id>3-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and a.limit_number != a.sold_number-->

  <!--</select>-->

    <!--获取其他活动-->
    <select id="getQitaActivity" resultType="com.kanjia.vo.PageActivityVo">
        select a.id,a.title,a.picture,a.adress,a.origin_price,a.pick,a.activity_time as
        activityTime,e.enterprise_name as enterpriseName,
        a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime
        from activity a left join enterprise e on a.enterprise_id = e.id
        where 1=1
        and a.category_id>3
        and a.state=1
        and a.activity_time >now()
        and aa.limit_number != a.sold_number
        <if test="start != null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>
    <!--获取其他活动数量-->
    <select id="getQitaActivityCount" resultType="Integer">
    select count(1)
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.category_id>3
    and a.state=1
    and a.activity_time >now()
    and a.limit_number != a.sold_number

  </select>

    <!--&lt;!&ndash;根据活动name值进行查找信息&ndash;&gt;-->
  <!--<select id="getNameActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
    <!--select a.id,a.title,a.picture,a.adress,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
    <!--activityTime,e.enterprise_name as enterpriseName,-->
    <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
    <!--from activity a left join category c on a.category_id=c.id left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and c.name=#{name}-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and a.limit_number != a.sold_number-->
    <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
      <!--limit #{page.start},#{page.pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;统计name值下的数量&ndash;&gt;-->
  <!--<select id="getNameActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join category c on a.category_id=c.id left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and  c.name=#{name}-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and a.limit_number != a.sold_number-->

  <!--</select>-->

    <!--根据活动name值进行查找信息-->
    <select id="getNameActivity" resultType="com.kanjia.vo.PageActivityVo">
        select a.id,a.title,a.picture,a.adress,a.origin_price,a.pick,a.activity_time as
        activityTime,e.enterprise_name as enterpriseName,
        a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime
        from activity a left join category c on a.category_id=c.id left join enterprise e on a.enterprise_id = e.id
        where 1=1
        and c.name=#{name}
        and a.state=1
        and a.activity_time >now()
        and a.limit_number != a.sold_number
        <if test="page != null and page.start != null and page.pageSize!=null">
            limit #{page.start},#{page.pageSize}
        </if>
    </select>
    <!--统计name值下的数量-->
    <select id="getNameActivityCount" resultType="Integer">
    select count(1)
    from activity a left join category c on a.category_id=c.id left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and  c.name=#{name}
    and a.state=1
    and a.activity_time >now()
    and a.limit_number != a.sold_number

  </select>

  <!--&lt;!&ndash;获得企业所有活动&ndash;&gt;-->
  <!--<select id="getEnterpriseAllActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
    <!--select a.id,a.title,a.picture,a.adress,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
    <!--activityTime,e.enterprise_name as enterpriseName,-->
    <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->

    <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
      <!--limit #{page.start},#{page.pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="getEnterpriseAllActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->

  <!--</select>-->

    <!--获得企业所有活动-->
    <select id="getEnterpriseAllActivity" resultType="com.kanjia.vo.PageActivityVo">
        select a.id,a.title,a.picture,a.adress,a.origin_price,a.pick,a.activity_time as
        activityTime,e.enterprise_name as enterpriseName,
        a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime
        from activity a left join enterprise e on a.enterprise_id = e.id
        where 1=1
        and a.enterprise_id=#{id}
        <if test="page != null and page.start != null and page.pageSize!=null">
            limit #{page.start},#{page.pageSize}
        </if>
    </select>
    <select id="getEnterpriseAllActivityCount" resultType="Integer">
    select count(1)
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.enterprise_id=#{id}
  </select>

  <!--&lt;!&ndash;获得企业正上线的活动&ndash;&gt;-->
  <!--<select id="getEnterpriseNowActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
    <!--select a.id,a.title,a.picture,a.adress,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
    <!--activityTime,e.enterprise_name as enterpriseName,-->
    <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.cut_time >now()-->
    <!--and a.state=1-->
    <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
      <!--limit #{page.start},#{page.pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="getEnterpriseNowActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.cut_time >now()-->
    <!--and a.state=1-->
  <!--</select>-->

    <!--获得企业正上线的活动-->
    <select id="getEnterpriseNowActivity" resultType="com.kanjia.vo.PageActivityVo">
        select a.id,a.title,a.picture,a.adress,a.origin_price,a.pick,a.activity_time as
        activityTime,e.enterprise_name as enterpriseName,
        a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime
        from activity a left join enterprise e on a.enterprise_id = e.id
        where 1=1
        and a.cut_time >now()
        and a.state=1

        <if test="page != null and page.start != null and page.pageSize!=null">
            limit #{page.start},#{page.pageSize}
        </if>
    </select>
    <select id="getEnterpriseNowActivityCount" resultType="Integer">
    select count(1)
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.cut_time >now()
    and a.state=1
  </select>


    <!--&lt;!&ndash;获得企业删除活动&ndash;&gt;-->
    <!--<select id="getEnterpriseDeleteActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
        <!--select a.id,a.title,a.picture,a.adress,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
        <!--activityTime,e.enterprise_name as enterpriseName,-->
        <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
        <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
        <!--where 1=1-->
        <!--and a.cut_time >now()-->
        <!--and a.state=0-->
        <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
            <!--limit #{page.start},#{page.pageSize}-->
        <!--</if>-->
    <!--</select>-->
    <!--<select id="getEnterpriseDeleteActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.cut_time >now()-->
    <!--and a.state=0-->
  <!--</select>-->

    <!--获得企业删除活动-->
    <select id="getEnterpriseDeleteActivity" resultType="com.kanjia.vo.PageActivityVo">
        select a.id,a.title,a.picture,a.adress,a.origin_price,a.pick,a.activity_time as
        activityTime,e.enterprise_name as enterpriseName,
        a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime
        from activity a left join enterprise e on a.enterprise_id = e.id
        where 1=1
        and a.state=0
        <if test="page != null and page.start != null and page.pageSize!=null">
            limit #{page.start},#{page.pageSize}
        </if>
    </select>
    <select id="getEnterpriseDeleteActivityCount" resultType="Integer">
    select count(1)
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.state=0
  </select>

  <!--&lt;!&ndash;获得活动详情&ndash;&gt;-->
  <!--<select id="getDetailActivity" resultType="com.kanjia.vo.DetailActivityVo">-->
    <!--select  a.id,a.title,a.video,a.adress,a.origin_price as originPrice,a.minu_price as minuPrice,-->
    <!--a.activity_time as activityTime,e.enterprise_name as enterpriseName,e.phone as enterprisePhone,-->
    <!--a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.longitude,a.latitude,a.description,e.id as enterpriseId-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.id=#{id}-->
  <!--</select>-->
    <!--获得活动详情-->
    <select id="getDetailActivity" resultType="com.kanjia.vo.DetailActivityVo">
    select  a.id,a.title,a.video,a.adress,a.pick,
    a.activity_time as activityTime,e.enterprise_name as enterpriseName,e.phone as enterprisePhone,
    a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.longitude,a.latitude,a.description,e.id as enterpriseId
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.id=#{id}
  </select>
</mapper>