<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kanjia.mapper.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.kanjia.pojo.Activity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="types" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="picture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="video" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="origin_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="minu_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="enterprise_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="activity_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cut_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="putaway_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sold_out_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="limit_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sold_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="glance" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="pick" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kanjia.pojo.Activity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="types" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="picture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="video" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="origin_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="minu_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="enterprise_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="activity_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cut_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="putaway_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sold_out_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="limit_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sold_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="glance" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="pick" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="description" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, types, title, picture, video, address, origin_price, minu_price, enterprise_id, 
    activity_time, cut_time, putaway_time, sold_out_time, limit_number, sold_number, 
    category_id, longitude, latitude, glance, pick, state, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kanjia.pojo.Activity" useGeneratedKeys="true" keyProperty="id">
    insert into activity (id, types, title,
      picture, video, address,
      origin_price, minu_price, enterprise_id,
      activity_time, cut_time, putaway_time,
      sold_out_time, limit_number, sold_number,
      category_id, longitude, latitude,
      glance, pick, state,
      create_time, update_time, description
      )
    values (#{id,jdbcType=INTEGER}, #{types,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
      #{picture,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{originPrice,jdbcType=DECIMAL}, #{minuPrice,jdbcType=DECIMAL}, #{enterpriseId,jdbcType=INTEGER},
      #{activityTime,jdbcType=TIMESTAMP}, #{cutTime,jdbcType=TIMESTAMP}, #{putawayTime,jdbcType=TIMESTAMP},
      #{soldOutTime,jdbcType=TIMESTAMP}, #{limitNumber,jdbcType=INTEGER}, #{soldNumber,jdbcType=INTEGER},
      #{categoryId,jdbcType=INTEGER}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR},
      #{glance,jdbcType=BIGINT}, #{pick,jdbcType=INTEGER}, #{state,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kanjia.pojo.Activity" useGeneratedKeys="true" keyProperty="id">
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="types != null" >
        types,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="video != null" >
        video,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="originPrice != null" >
        origin_price,
      </if>
      <if test="minuPrice != null" >
        minu_price,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="activityTime != null" >
        activity_time,
      </if>
      <if test="cutTime != null" >
        cut_time,
      </if>
      <if test="putawayTime != null" >
        putaway_time,
      </if>
      <if test="soldOutTime != null" >
        sold_out_time,
      </if>
      <if test="limitNumber != null" >
        limit_number,
      </if>
      <if test="soldNumber != null" >
        sold_number,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="glance != null" >
        glance,
      </if>
      <if test="pick != null" >
        pick,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="types != null" >
        #{types,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null" >
        #{originPrice,jdbcType=DECIMAL},
      </if>
      <if test="minuPrice != null" >
        #{minuPrice,jdbcType=DECIMAL},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="activityTime != null" >
        #{activityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cutTime != null" >
        #{cutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="putawayTime != null" >
        #{putawayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="soldOutTime != null" >
        #{soldOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="limitNumber != null" >
        #{limitNumber,jdbcType=INTEGER},
      </if>
      <if test="soldNumber != null" >
        #{soldNumber,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="glance != null" >
        #{glance,jdbcType=BIGINT},
      </if>
      <if test="pick != null" >
        #{pick,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kanjia.pojo.Activity" >
    update activity
    <set >
      <if test="types != null" >
        types = #{types,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null" >
        origin_price = #{originPrice,jdbcType=DECIMAL},
      </if>
      <if test="minuPrice != null" >
        minu_price = #{minuPrice,jdbcType=DECIMAL},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="activityTime != null" >
        activity_time = #{activityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cutTime != null" >
        cut_time = #{cutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="putawayTime != null" >
        putaway_time = #{putawayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="soldOutTime != null" >
        sold_out_time = #{soldOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="limitNumber != null" >
        limit_number = #{limitNumber,jdbcType=INTEGER},
      </if>
      <if test="soldNumber != null" >
        sold_number = #{soldNumber,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="glance != null" >
        glance = #{glance,jdbcType=BIGINT},
      </if>
      <if test="pick != null" >
        pick = #{pick,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kanjia.pojo.Activity" >
    update activity
    set types = #{types,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      origin_price = #{originPrice,jdbcType=DECIMAL},
      minu_price = #{minuPrice,jdbcType=DECIMAL},
      enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      activity_time = #{activityTime,jdbcType=TIMESTAMP},
      cut_time = #{cutTime,jdbcType=TIMESTAMP},
      putaway_time = #{putawayTime,jdbcType=TIMESTAMP},
      sold_out_time = #{soldOutTime,jdbcType=TIMESTAMP},
      limit_number = #{limitNumber,jdbcType=INTEGER},
      sold_number = #{soldNumber,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      glance = #{glance,jdbcType=BIGINT},
      pick = #{pick,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kanjia.pojo.Activity" >
    update activity
    set types = #{types,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      origin_price = #{originPrice,jdbcType=DECIMAL},
      minu_price = #{minuPrice,jdbcType=DECIMAL},
      enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      activity_time = #{activityTime,jdbcType=TIMESTAMP},
      cut_time = #{cutTime,jdbcType=TIMESTAMP},
      putaway_time = #{putawayTime,jdbcType=TIMESTAMP},
      sold_out_time = #{soldOutTime,jdbcType=TIMESTAMP},
      limit_number = #{limitNumber,jdbcType=INTEGER},
      sold_number = #{soldNumber,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      glance = #{glance,jdbcType=BIGINT},
      pick = #{pick,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 查詢活动 -->
  <select id="getAllActivity" resultType="com.kanjia.vo.PageActivityVo">
    select a.glance as glance,a.id as id,a.title as title,a.picture as  picture,a.address as address,a.origin_price as originPrice,a.minu_price as minuPrice,
    e.enterprise_name as enterpriseName,a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.longitude as longitude,
    a.latitude as latitude,a.types as types,a.state as state,a.activity_time as activityTime
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.state=1
    and a.category_id=#{categoryId}
    and a.cut_time >now()
    and a.limit_number > a.sold_number
    <if test="page != null and page.start != null and page.pageSize!=null">
      limit #{page.start},#{page.pageSize}
    </if>
  </select>
  <!--获取活动数量-->
  <select id="getAllActivityCount" resultType="Integer">
    select count(1)
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.state=1
    and a.category_id=#{categoryId}
    and a.cut_time >now()
    and a.limit_number > a.sold_number
  </select>


  <!--&lt;!&ndash;获取其他活动&ndash;&gt;-->
  <!--<select id="getQitaActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
  <!--select a.id,a.title,a.picture,a.address,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
  <!--activityTime,e.enterprise_name as enterpriseName,-->
  <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
  <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
  <!--where 1=1-->
  <!--and a.category_id>3-->
  <!--and a.state=1-->
  <!--and a.activity_time >now()-->
  <!--and aa.limit_number != a.sold_number-->
  <!--<if test="start != null and pageSize!=null">-->
  <!--limit #{start},#{pageSize}-->
  <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;获取其他活动数量&ndash;&gt;-->
  <!--<select id="getQitaActivityCount" resultType="Integer">-->
  <!--select count(1)-->
  <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
  <!--where 1=1-->
  <!--and a.category_id>3-->
  <!--and a.state=1-->
  <!--and a.activity_time >now()-->
  <!--and a.limit_number != a.sold_number-->

  <!--</select>-->

  <!--&lt;!&ndash;获取其他活动&ndash;&gt;-->
  <!--<select id="getQitaActivity" resultType="com.kanjia.vo.PageActivityVo">-->
    <!--select a.id as id,a.title as title,a.picture as  picture,a.address as address,a.origin_price as originPrice,a.minu_price as minuPrice,-->
    <!--e.enterprise_name as enterpriseName,a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.longitude as longitude,-->
    <!--a.latitude as latitude,a.types as types,a.state as state,a.activity_time as activityTime-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.category_id>3-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and aa.limit_number != a.sold_number-->
    <!--<if test="start != null and pageSize!=null">-->
      <!--limit #{start},#{pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;获取其他活动数量&ndash;&gt;-->
  <!--<select id="getQitaActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.category_id>3-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and a.limit_number != a.sold_number-->

  <!--</select>-->

  <!--&lt;!&ndash;根据活动name值进行查找信息&ndash;&gt;-->
  <!--<select id="getNameActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
  <!--select a.id,a.title,a.picture,a.address,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
  <!--activityTime,e.enterprise_name as enterpriseName,-->
  <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
  <!--from activity a left join category c on a.category_id=c.id left join enterprise e on a.enterprise_id = e.id-->
  <!--where 1=1-->
  <!--and c.name=#{name}-->
  <!--and a.state=1-->
  <!--and a.activity_time >now()-->
  <!--and a.limit_number != a.sold_number-->
  <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
  <!--limit #{page.start},#{page.pageSize}-->
  <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;统计name值下的数量&ndash;&gt;-->
  <!--<select id="getNameActivityCount" resultType="Integer">-->
  <!--select count(1)-->
  <!--from activity a left join category c on a.category_id=c.id left join enterprise e on a.enterprise_id = e.id-->
  <!--where 1=1-->
  <!--and  c.name=#{name}-->
  <!--and a.state=1-->
  <!--and a.activity_time >now()-->
  <!--and a.limit_number != a.sold_number-->

  <!--</select>-->

  <!--&lt;!&ndash;根据活动name值进行查找信息&ndash;&gt;-->
  <!--<select id="getNameActivity" resultType="com.kanjia.vo.PageActivityVo">-->
    <!--select a.id as id,a.title as title,a.picture as  picture,a.address as address,a.origin_price as originPrice,a.minu_price as minuPrice,-->
    <!--e.enterprise_name as enterpriseName,a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.longitude as longitude,-->
    <!--a.latitude as latitude,a.types as types,a.state as state,a.activity_time as activityTime-->
    <!--from activity a left join category c on a.category_id=c.id left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and c.name=#{name}-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and a.limit_number != a.sold_number-->
    <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
      <!--limit #{page.start},#{page.pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;统计name值下的数量&ndash;&gt;-->
  <!--<select id="getNameActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join category c on a.category_id=c.id left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and  c.name=#{name}-->
    <!--and a.state=1-->
    <!--and a.activity_time >now()-->
    <!--and a.limit_number != a.sold_number-->

  <!--</select>-->

  <!--&lt;!&ndash;获得企业所有活动&ndash;&gt;-->
  <!--<select id="getEnterpriseAllActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
  <!--select a.id,a.title,a.picture,a.address,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
  <!--activityTime,e.enterprise_name as enterpriseName,-->
  <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
  <!--from activity a left join enterprise e on a.enterprise_id = e.id-->

  <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
  <!--limit #{page.start},#{page.pageSize}-->
  <!--</if>-->
  <!--</select>-->
  <!--<select id="getEnterpriseAllActivityCount" resultType="Integer">-->
  <!--select count(1)-->
  <!--from activity a left join enterprise e on a.enterprise_id = e.id-->

  <!--</select>-->

  <!--获得企业所有活动-->
  <select id="getEnterpriseAllActivity" resultType="com.kanjia.vo.PageActivityVo">
    select a.glance as glance,a.id as id,a.title as title,a.picture as  picture,a.address as address,a.origin_price as originPrice,a.minu_price as minuPrice,
    e.enterprise_name as enterpriseName,a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.longitude as longitude,
    a.latitude as latitude,a.types as types,a.state as state,a.activity_time as activityTime
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.enterprise_id=#{id}
    and a.state in (1,3)
    <if test="page != null and page.start != null and page.pageSize!=null">
      limit #{page.start},#{page.pageSize}
    </if>
  </select>
  <select id="getEnterpriseAllActivityCount" resultType="Integer">
    select count(1)
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.enterprise_id=#{id}
    and a.state in (1,3)
  </select>

  <!--获得描述详情-->
  <select id="getDetailActivity" resultType="com.kanjia.vo.DetailActivityVo">
    select  a.glance as glance,a.id,a.title,a.picture as picture,a.address as address,a.pick,a.origin_price as originPrice,a.minu_price as minuPrice,
    a.activity_time as activityTime,a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.description,
    a.category_id as categoryId,a.types as  types,a.longitude as longitude,a.latitude as latitude
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.id=#{id}
  </select>
  <!--&lt;!&ndash;获得企业正上线的活动&ndash;&gt;-->
  <!--<select id="getEnterpriseNowActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
  <!--select a.id,a.title,a.picture,a.address,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
  <!--activityTime,e.enterprise_name as enterpriseName,-->
  <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
  <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
  <!--where 1=1-->
  <!--and a.cut_time >now()-->
  <!--and a.state=1-->
  <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
  <!--limit #{page.start},#{page.pageSize}-->
  <!--</if>-->
  <!--</select>-->
  <!--<select id="getEnterpriseNowActivityCount" resultType="Integer">-->
  <!--select count(1)-->
  <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
  <!--where 1=1-->
  <!--and a.cut_time >now()-->
  <!--and a.state=1-->
  <!--</select>-->

  <!--&lt;!&ndash;获得企业正上线的活动&ndash;&gt;-->
  <!--<select id="getEnterpriseNowActivity" resultType="com.kanjia.vo.PageActivityVo">-->
    <!--select a.id as id,a.title as title,a.picture as  picture,a.address as address,a.origin_price as originPrice,a.minu_price as minuPrice,-->
    <!--e.enterprise_name as enterpriseName,a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.longitude as longitude,-->
    <!--a.latitude as latitude,a.types as types,a.state as state,a.activity_time as activityTime-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.cut_time >now()-->
    <!--and (a.state=1 or a.state=2)-->

    <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
      <!--limit #{page.start},#{page.pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="getEnterpriseNowActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.cut_time >now()-->
    <!--and a.state=1-->
  <!--</select>-->


  <!--&lt;!&ndash;获得企业删除活动&ndash;&gt;-->
  <!--<select id="getEnterpriseDeleteActivity" resultType="com.kanjia.vo.PageActivityPriceVo">-->
  <!--select a.id,a.title,a.picture,a.address,a.origin_price,a.minu_price as minuPrice,a.activity_time as-->
  <!--activityTime,e.enterprise_name as enterpriseName,-->
  <!--a.limit_number as limitNumber,a.sold_number as soldNumber, a.cut_time as cutTime-->
  <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
  <!--where 1=1-->
  <!--and a.cut_time >now()-->
  <!--and a.state=0-->
  <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
  <!--limit #{page.start},#{page.pageSize}-->
  <!--</if>-->
  <!--</select>-->
  <!--<select id="getEnterpriseDeleteActivityCount" resultType="Integer">-->
  <!--select count(1)-->
  <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
  <!--where 1=1-->
  <!--and a.cut_time >now()-->
  <!--and a.state=0-->
  <!--</select>-->

  <!--&lt;!&ndash;获得企业删除活动&ndash;&gt;-->
  <!--<select id="getEnterpriseDeleteActivity" resultType="com.kanjia.vo.PageActivityVo">-->
    <!--select a.id as id,a.title as title,a.picture as  picture,a.address as address,a.origin_price as originPrice,a.minu_price as minuPrice,-->
    <!--e.enterprise_name as enterpriseName,a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.longitude as longitude,-->
    <!--a.latitude as latitude,a.types as types,a.state as state,a.activity_time as activityTime-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.state=0-->
    <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
      <!--limit #{page.start},#{page.pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="getEnterpriseDeleteActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.state=0-->
  <!--</select>-->
  <!--&lt;!&ndash;获得企业售罄活动&ndash;&gt;-->
  <!--<select id="getEnterpriseStockActivity" resultType="com.kanjia.vo.PageActivityVo">-->
    <!--select a.id as id,a.title as title,a.picture as  picture,a.address as address,a.origin_price as originPrice,a.minu_price as minuPrice,-->
    <!--e.enterprise_name as enterpriseName,a.limit_number as limitNumber,a.sold_number as soldNumber,a.cut_time as cutTime,a.longitude as longitude,-->
    <!--a.latitude as latitude,a.types as types,a.state as state,a.activity_time as activityTime-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.state=1-->
    <!--and a.limit_number =a.sold_number-->
    <!--<if test="page != null and page.start != null and page.pageSize!=null">-->
      <!--limit #{page.start},#{page.pageSize}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="getEnterpriseStockActivityCount" resultType="Integer">-->
    <!--select count(1)-->
    <!--from activity a left join enterprise e on a.enterprise_id = e.id-->
    <!--where 1=1-->
    <!--and a.state=1-->
    <!--and a.limit_number =a.sold_number-->
  <!--</select>-->


</mapper>