<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kanjia.mapper.EnterpriseMapper" >
  <resultMap id="BaseResultMap" type="com.kanjia.pojo.Enterprise" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="open_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="enterprise_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="license" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="corporation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="card" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="avatarurl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, nickname, open_id, enterprise_name, license, corporation, phone, card, avatarurl, 
    create_time, update_time, state, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enterprise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enterprise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kanjia.pojo.Enterprise" useGeneratedKeys="true" keyProperty="id">
    insert into enterprise (id, nickname, open_id, 
      enterprise_name, license, corporation, 
      phone, card, avatarurl, 
      create_time, update_time, state, 
      address)
    values (#{id,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{enterpriseName,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR}, #{corporation,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{card,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kanjia.pojo.Enterprise" useGeneratedKeys="true" keyProperty="id">
    insert into enterprise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="enterpriseName != null" >
        enterprise_name,
      </if>
      <if test="license != null" >
        license,
      </if>
      <if test="corporation != null" >
        corporation,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="card != null" >
        card,
      </if>
      <if test="avatarurl != null" >
        avatarurl,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null" >
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="license != null" >
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="corporation != null" >
        #{corporation,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        #{card,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null" >
        #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kanjia.pojo.Enterprise" >
    update enterprise
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null" >
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="license != null" >
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="corporation != null" >
        corporation = #{corporation,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        card = #{card,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null" >
        avatarurl = #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kanjia.pojo.Enterprise" >
    update enterprise
    set nickname = #{nickname,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      license = #{license,jdbcType=VARCHAR},
      corporation = #{corporation,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      card = #{card,jdbcType=VARCHAR},
      avatarurl = #{avatarurl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--根据open_id获取eid-->
  <select id="getId" resultType="Integer">
    select id from enterprise where  1=1 and open_id = #{openId}
  </select>
  <!--根据aid获取企业信息-->
  <select id="getEnterpriseId" resultType="com.kanjia.vo.EnterpriseVo">
     select   e.address as address, e.id as enteprirseId,e. enterprise_name as enterpriseName, e.phone as  enterprisePhone,a.longitude as longitude,a.latitude as latitude
    from activity a left join enterprise e on a.enterprise_id = e.id
    where 1=1
    and a.id=#{aid}
  </select>
  <!--根据eid获取信息-->
  <select id="getEnterpriseinfo" resultType="com.kanjia.vo.PageEnterpriseVo">
     select    id as enteprirseId,enterprise_name as enterpriseName,avatarurl as avatarurl
    from  enterprise
    where 1=1
    and id=#{eid}
  </select>
</mapper>